<div class="well" >
  <!-- <div class="col-md-12"> -->
    <p>Title : <%= @list.title %></p>
  <!-- </div> -->

  <!-- <div class="col-md-12"> -->
    <p>Description : <%= @list.description %></p>
  <!-- </div> -->


  <!-- <div class="col-md-12"> -->
    <p>Date Line<%= @list.finishedDate %></p>
  <!-- </div> -->


  <!-- <div class="col-md-12"> -->
    <p>User : <%= @list.user.email %></p>
  <!-- </div> -->
</div>
