<div class="well" >

    <p>Title : <%= @list.title %></p>

    <p>Description : <%= @list.description %></p>

    <p>Date Line<%= @list.finishedDate %></p>

    <p>User : <%= @list.user.email %></p>

</div>
