<div class="jumbotron text-center">
  <h1>เกี่ยวกับเรา</h1>
  <div class="row top-margin-about">
    <div class="col-md-6">
      <p>ดฟสหดสหฟสดหดสหฟดาหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟหฟดาหฟดาหฟดหฟ  </p>
    </div>

    <div class="col-md-6">
      <img src="http://zippypixels.com/wp-content/uploads/2015/04/free-digest-magazine-psd-mockup-customizable-background-3-824x542.jpg" height="300"  width="800">
    </div>
  </div>

  <div class="row top-margin-about">
    <div class="col-md-6">
      <img src="http://zippypixels.com/wp-content/uploads/2015/04/free-digest-magazine-psd-mockup-customizable-background-3-824x542.jpg" height="300"  width="800">
    </div>
    <div class="col-md-6">
      <p>ดฟดหดหฟดหฟาสดงวหฟาดหฟสาดวฟหสดาฟหวสดาหฟวสดาหฟวสดาหฟวสดาหฟวสดาหฟวดาหฟวดาหฟวดาหฟวดาวห</p>
    </div>
  </div>

  <div class="row top-margin-about">
    <div class="col-md-12">
      <%= link_to 'เข้าร่วมกับเรา' , new_user_registration_path , class: 'btn btn-success btn-block' %>
      <%= link_to 'กลับ' , root_path , class: 'btn btn-default btn-block' %>
    </div>
  </div>
</div>
