// Place all the styles related to the Todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right{
  text-align: right;
}

.text-completed {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {
  text-align: center;
}

// .container {
//   background-color: rgba(#cadace, 0.81) ;
// }

.warp {
  width: 1000px ;
  word-wrap: break-word;
}

.complete-warp {
  width: 315px ;
  word-wrap: break-word;
}
