// Place all the styles related to the Todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
}

.right{
  text-align: right;
}

.margintop80px {
  margin-top: 80px ;
}

.marginbottom80px{
  margin-bottom: 80px  !important ;
}

.text-completed {
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {
  text-align: center;
}

.warp-index {
  width: 840 ;
  word-wrap: break-word;
}

.warp-show {
  width: 1000 ;
  word-wrap: break-word;
}

.complete-warp {
  width: 315px ;
  word-wrap: break-word;
}

.redheart{
  color: #f43333 ;
}

.top-margin-about{
  margin-top: 50px ;
}
.bottom-margin-list{
  margin-bottom: 25px
}

.float-right {
  float: right !important ;
}
